<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <input type="text" name="movieName" id="movieName" #movieName />
  </div>
  <div>
    <input type="text" name="movieDate" id="movieDate" #movieDate />
  </div>
  <div>
    <button (click)="saveMovie(movieName.value, movieDate.value)">
      Gravar
    </button>
  </div>

  <div *ngIf="movies">
    <div *ngFor="let m of movies">
      <p>Name: {{m.name}}</p>
      <p>date: {{m.date}}</p>
    </div>
  </div>
</ion-content>
